<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="./src/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <title>WeCommerce</title>
</head>
<body>
    
  <div id="app">
  <div class="container-fluid bg-black">
    <nav class="navbar container navbar-expand-lg navbar-dark bg-black">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown text-white">
            We-commerce - Admin Page
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="button"  v-if="!isLogin" data-toggle="modal" data-target="#registerModal">Register</button>
          <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="button" v-if="!isLogin" data-toggle="modal" data-target="#loginModal">Login</button>
          <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="button"  v-on:click="logout" data-toggle="modal">logout</button>
        </form>
      </div>
    </nav>
  </div>

  <div class="container-fluid pt-3 mb-3">
    <div class="row justify-content-center"><h3 class="text-center">Products Sells Chart</h3></div>
    <div class="container" class="cart">
        <canvas id="myChart" ></canvas>
    </div>
  </div>
  <div class="container-fluid bg-light-gray pt-5">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <h5>ADMIN - Item</h5>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success mb-3" data-toggle="modal" data-target="#itemModal"> add item </button>
          <div class="row border py-3">
            <div class="container text-center">
              <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col">Name</div>
                        <div class="col">Price</div>
                        <div class="col">Description</div>
                        <div class="col">Stock</div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row border py-3" v-for="item in items">
            <div class="container text-center">
            <div class="row">
                <div class="col-md-8">
                  
                  <div class="row">
                    <div class="col">{{item.name}}</div>
                    <div class="col">{{item.price}}</div>
                    <div class="col">{{item.description}}</div>
                    <div class="col">{{item.stock}}</div>
                  </div>
                  
                </div>
                <div class="col-md-4"><button class="btn btn-primary" data-toggle="modal" data-target="#updateItemModal" v-on:click="editItem(item)">update</button> || <button class="btn btn-danger" v-on:click="deleteItem(item)">delete</button></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="py-0 ">
  <div class="container-fluid bg-light-gray pt-5">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <h5>ADMIN -  Category</h5>
      </div>
      <div class="row">
        <div class="col-md-4">
            <button class="btn btn-success mb-3" data-toggle="modal" data-target="#categoryModal"> add </button>
            <div class="row border py-3" v-for="category in categories">
              <div class="container text-center">
              <p class="category" v-on:click="changeCategory(category)">
              {{category.name}}
              </p>
              </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group mt-5">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr" v-model="currentCategory.name">
            </div>
            <button class="btn btn-success mb-3" v-on:click="updateCategory()"> Change </button>  
            <button type="button" class="mb-3 btn btn-danger" v-on:click="deleteCategory">Delete</button>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal Item -->
  <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ detailItem.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
              <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" v-model="item.name">
                <label for="usr">Description:</label>
                <input type="text" class="form-control" v-model="item.description">
                <label for="usr">Price:</label>
                <input type="text" class="form-control" v-model="item.price">
                <label for="usr">Stock:</label>
                <input type="text" class="form-control" v-model="item.stock">
                <label for="exampleFormControlSelect1">Product Category</label>
                <select class="form-control" id="exampleFormControlSelect1" v-model="value">
                  <option v-for="category in categories" v-bind:value="category._id">{{category.name}}</option>
                </select>
                <div class="custom-file mb-3 mt-3">
                  <input class="custom-file-input" type="file" v-on:change="getImageToUpload($event)">
                  <label class="custom-file-label text-left" for="createImage">{{item.imgURL.name}}</label>
              </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" v-on:click="addItem()" data-dismiss="modal" >submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Item Update -->
  <div class="modal fade" id="updateItemModal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Item update</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="container">
                <div class="form-group">
                  <label for="usr">Name:</label>
                  <input type="text" class="form-control" v-model="updateItem.name">
                  <label for="usr">Description:</label>
                  <input type="text" class="form-control" v-model="updateItem.description">
                  <label for="usr">Price:</label>
                  <input type="text" class="form-control" v-model="updateItem.price">
                  <label for="usr">Stock:</label>
                  <input type="text" class="form-control" v-model="updateItem.stock">
                  <label for="exampleFormControlSelect1">Product Category</label>
                  <select class="form-control" id="exampleFormControlSelect1" v-model="value">
                    <option v-for="category in categories" v-bind:value="category._id" v-bind:selected="checkUpdateCategory(updateItem.category, category._id)">{{category.name}}</option>
                  </select>
                  <div class="custom-file mb-3 mt-3">
                    <input class="custom-file-input" type="file" v-on:change="getImageToUpdate($event)">
                    <label class="custom-file-label text-left" for="createImage">{{detailItem.imgURL.name}}</label>
                </div>
              </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" v-on:click="updatingItem(updateItem._id)" data-dismiss="modal" >submit</button>
          </div>
        </div>
      </div>
  </div>

  <!-- Modal Cart -->
  <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Your Cart List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row mb-3" v-for="item in cart">
                  <div class="col-md-6">
                    <img alt="" v-bind:src="item.img" style="max-width: 120px;">
                  </div>
                  <div class="col-md-6">
                    {{item.name}}
                  </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" v-on:click="addToCart(detailItem)">Checkout</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="mt-3 pt-3">
    <div class="container-fluid pt-5 pb-5 bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <h5>Need Help? Contact US</h5>
            </div>
            <div class="row mb-4">
              <div class="underline bg-light" style="width: 50px;"></div>
            </div>
            <p>08:00 - 21:00 (Work days)</p>
            <p>09:00 - 18:00 (Weekend)</p>
            <p><i class="fa fa-phone"></i> 021-888-999-111</p>
            <p><i class="fa fa-whatsapp"></i> 021-889-1212</p>
          </div>
          
          <div class="col-md-3 pl-4">
            <div class="row">
              <h5>About</h5>
            </div>
            <div class="row mb-4">
            <div class="underline bg-light" style="width: 50px;"></div>
            </div>
            <div class="row">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel inventore quis harum mollitia ex esse obcaecati deserunt alias fuga quia.<br>Vel inventore quis harum mollitia.</p>
            </div>
          </div>

          <div class="col-md-6 pl-4">
            <div class="row">
              <h5>Something here</h5>
            </div>
            <div class="row mb-4">
            <div class="underline bg-light" style="width: 50px;"></div>
            </div>
            <div class="row">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel inventore quis harum mollitia ex esse obcaecati deserunt alias fuga quia.<br>Vel inventore quis harum mollitia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- ModalCategory -->
  <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">New Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" v-model="category.name">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" v-on:click="addCategory" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="src/vue.js"></script>
  <script>
      axios({
        method: 'get',
        url: 'http://35.220.229.99:3000/transactions/',
        headers : {
          token : localStorage.getItem('token')
        }
      })
      .then(response => {
        let filteredData = [];
        let objectData = {};
        for(let i = 0; i < response.data.length; i++) {
          response.data[i].cartItems.forEach(data => {
            if (filteredData.indexOf(data.item.name) == -1) {
              filteredData.push(data.item.name);
              //let obj = {};
              objectData[data.item.name] = data.quantity;
            } else {
              let objKeys = Object.keys(objectData);
              for(let i = 0; i < objKeys.length ; i++) {
                if(objKeys[i]==data.item.name) {
                  objectData[data.item.name] += data.quantity 
                }
              }
            }
          })
        }
        
        var ctx = document.getElementById("myChart").getContext('2d');
      ctx.height = 5;
      ctx.width = 5;
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: Object.keys(objectData),
              datasets: [{
                  label: 'Total sells per product',
                  data: Object.values(objectData),
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)',
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      })
      })
      .catch(err => console.log(err))
      
  </script>
</body>
</html>