<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Bonanza 2.0</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="container">

                <div class="row">
                    <div class="col">
                        <ul class="nav nav-pills">
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="container-fluid" style="background: url(https://assets.bonanzastatic.com/images/home/bg_thatch.png?1539127379) ">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- <a class="navbar-brand" href="#">BONANZA 2.0</a> -->
                        <img alt="Bonanza" id="Bonanza" data-retina="true" src="https://assets.bonanzastatic.com/images/header/bonanza_logo@2x.png"
                            style="max-width: 200px; max-height: 49px;">
                        <div class="collapse navbar-collapse justify-content-end">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <div class="container mt-2 pt-5">
            <div class="row">
                <div class="col-md-3">
                    <!-- <p>home >> Mens's Fashhion</p> -->
                    <div class="jumbotron p-2 text-center">
                        <!-- <p>Narrow your results 1,781,605 items found</p> -->
                        <div class="list-group">
                            <button v-on:click="changeCurrentView('viewList')" type="button" class="list-group-item list-group-item-action active">
                                Your List Items
                            </button>
                            <button v-on:click="getCategory" type="button" class="list-group-item list-group-item-action">Add Items</button>
                            <button v-on:click="changeCurrentView('addCategory')" type="button" class="list-group-item list-group-item-action">Add Category</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="listItemsAdmin">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <b>
                                <i>Your Selections:</b>
                            <a href="">Category "Men's Fashion"</a>
                            </i> -->
                            </div>
                            <div class="col-md-6 text-right" v-if="currentView == 'viewList'">
                                <b>
                                    <i>Sort by: </a>
                                    </i>
                                </b>
                                <select name="" id="">
                                    <option value="">Relevance</option>
                                    <option value="">Highest Price</option>
                                    <option value="">Lowest Price</option>
                                    <option value="">Newest</option>
                                    <option value="">Rating</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">

                            <!-- INI LIST PRODUCT -->
                            <div class="col pt-2 mb-2" v-for="value in products" v-if="currentView == 'viewList'">
                                <div class="card" style="width: 15rem; min-height: 25rem;">
                                    <img class="card-img-top" style="max-height: 200px" v-bind:src="value.picture" alt="Card image cap">
                                    <div class="card-body ">
                                        <p class="card-text">{{filterTextLength(value.name)}}</p>
                                        <p>${{value.price}}</p>
                                        <button data-toggle="modal" data-target="#cartModal" class="btn btn-primary">Edit</button>
                                        <button data-toggle="modal" data-target="#cartModal" class="btn btn-danger"> Delete</button>
                                    </div>
                                </div>
                            </div>

                            <!-- INI FORM ADD PRODUCT -->
                            <div class="col pt-2 mb-2" v-if="currentView == 'addItems'">
                                <form>
                                    <div class="form-group row">
                                        <label for="productName" class="col-sm-2 col-form-label">Product Name</label>
                                        <div class="col-sm-10">
                                            <input v-model="productWillAdd.name" type="text" class="form-control" placeholder="Product Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-10">
                                            <input v-model="productWillAdd.description" type="text" class="form-control" placeholder="description">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="description" class="col-sm-2 col-form-label">Category</label>
                                        <div class="col-sm-10">
                                            <select v-model="value" class="form-control">
                                                <option v-for="value in categories" v-bind:value="value">{{value.name}}</option>
                                            </select>
                                        </div>  
                                    </div>
                                    <div class="form-group row">
                                        <label for="description" class="col-sm-2 col-form-label">Picture</label>
                                        <div class="col-sm-10">
                                                <input  type="file" v-on:change="handleUpload" class="form-control" placeholder="Quantity">                                            
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="qty" class="col-sm-2 col-form-label">Quantity</label>
                                        <div class="col-sm-10">
                                            <input v-model="productWillAdd.quantity" type="number" class="form-control" placeholder="Quantity">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="tag" class="col-sm-2 col-form-label">Price</label>
                                        <div class="col-sm-10">
                                            <input v-model="productWillAdd.price" type="number" class="form-control" placeholder="Price">
                                        </div>
                                    </div>
                                    <div v-if="addItemStatus === 'betul'" class="alert alert-success">
                                            <strong>Success!</strong> Indicates a successful or positive action.
                                        </div>
                                        <div v-if="addItemStatus === 'salah'" class="alert alert-danger">
                                            <strong>Success!</strong> Indicates a successful or positive action.
                                        </div>
                                    <button v-on:click="onClickAddProduct" type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>

                            <!-- INI ADD CATEGORY -->
                            <div class="col pt-2 mb-2" v-if="currentView == 'addCategory'">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Add Category</label>
                                        <input v-model="addCategory" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div v-if="categoryStatus === 'betul'" class="alert alert-success">
                                        <strong>Success!</strong> Indicates a successful or positive action.
                                    </div>
                                    <div v-if="categoryStatus === 'salah'" class="alert alert-danger">
                                        <strong>Success!</strong> Indicates a successful or positive action.
                                    </div>
                                    <button v-on:click="addNewCategory" type="submit" class="btn btn-primary">Submit</button>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //js
        if (localStorage.getItem('token') == undefined) {
            window.location.href = ('http://localhost:8080')
        }

        // vue js
        new Vue({
            el: '#app',
            data: {
                products: [],
                productWillAdd:{
                    name: '',
                    description: '',
                    quantity: 0,
                    price: 0,
                },
                categories: null,
                currentView: 'viewList',
                addCategory: '',
                categoryStatus: '',
                addItemStatus: '',
                value:'',
                file: ''
            },
            methods: {
                handleUpload: function(event){
                    this.file = event.target.files[0]
                },

                changesCategory:function(input){
                    this.productWillAdd.category = input
                },

                addNewCategory: function (event) {
                    event.preventDefault()
                    axios.post('http://localhost:3000/users/add-category', { data: this.addCategory })
                        .then(data => {
                            this.categoryStatus = 'betul'
                        })
                        .catch(err => {
                            this.categoryStatus = 'salah'
                        })
                },
                getCategory: function () {
                    this.currentView = 'addItems'
                    this.addItemStatus = ''
                    axios.get('http://localhost:3000/users/get-category')
                        .then(data => {
                            this.categories = data.data
                        })
                },

                filterTextLength: function (input) {
                    if (input.length >= 39) {
                        let filtered = input.slice(0, 35)
                        return filtered + '. . .'
                    } else {
                        return input
                    }
                },
                changeCurrentView: function (params) {
                    this.currentView = params
                },

                onClickAddProduct: function (event) {
                    event.preventDefault()
                    let data = {
                        name: this.productWillAdd.name,
                        description: this.productWillAdd.description,
                        stock: this.productWillAdd.quantity,
                        price: this.productWillAdd.price,
                        category: this.value
                    }
                    let result = new FormData()
                    result.append('img', this.file)
                    result.append('name', this.productWillAdd.name)
                    result.append('stock', this.productWillAdd.quantity)
                    result.append('price', this.productWillAdd.price)
                    result.append('category', this.value._id)
                    result.append('description', this.productWillAdd.description)
                    // result.append('text', data)
                    axios.post('http://localhost:3000/users/add-item',result, {
                        headers: {
                            'Content-Type' : 'multipart/form-data'
                        }
                    })
                    .then(data => {
                        this.addItemStatus = 'betul'
                    })
                    .catch(err => {
                        this.addItemStatus = 'salah'
                    })
                }
            },
            computed: {
            },
            watch: {},
            created: function () {
                console.log('vue has been created')
            },
            mounted: function () {
                console.log('vue has been mounted')
                axios.get('http://localhost:3000/users/get-all-items')
                .then(data => {
                    console.log(data)
                    this.products=data.data
                })
                .catch(err => {
                    console.log(data)
                })
            }
        })

    </script>
</body>

</html>