<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato|Oswald|Roboto+Slab|Titillium+Web" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>E-Kits</title>
    </head>
    <body>

        <!--MAIN TEMPLATE-->
        <div id="app">

            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-sm navbar-dark mb-2" id="top-nav">
                <div class="container">
                    <a href="home.html" id="home-nav" class="navbar-brand font-weight-bold">E<i class="fas fa-signature"></i>Kits</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#div-main-nav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="div-main-nav">
                        <ul class="navbar-nav font-weight-bold ml-auto" id="main-nav">
                            <li class="nav-item dropdown mr-2">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu">
                                    <a @click="showListItem(category._id)" v-for="category in categories" class="dropdown-item">{{ category.name }}</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="form-inline mr-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </div>
                                        <input type="text" v-model="keyword_for_all" class="form-control mr-3" placeholder="Search All Products">
                                    </div>
                                    <button class="btn btn-outline-light" @click="searchItem">Search</button>
                                </div>
                            </li>
                            <li v-on:click="showCart" class="nav-item mr-2">
                                <a role="button" class="nav-link">
                                    <i class="fas fa-shopping-cart mr-1"></i>
                                    Cart
                                    <span class="badge badge-dark px-2 py-1">{{ cartBadge }}</span>
                                </a>
                            </li>
                            <li v-on:click="showProfile" class="nav-item mr-2">
                                <a role="button" class="nav-link">
                                    <i class="fas fa-user-ninja"></i>
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <button @click="logout" class="btn btn-outline-light ml-auto">Log out</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!--CATEGORY AND ITEM LIST-->
            <div v-if="categoryListShow" class="container mt-4">
                <div class="d-flex justify-content-center align-items-center bg-light rounded mt-3" id="category-path-link">
                    <button class="btn btn-link">Home</button>
                    <i class="fas fa-angle-right"></i>
                    <button class="btn btn-link">Categories</button>
                    <i class="fas fa-angle-right"></i>
                    <button class="btn btn-link">{{ activeCategory }}</button>
                </div>
                <div class="row mt-4">

                    <!-- LEFT BAR MENU -->
                    <div class="col-lg-3 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column justify-content-start">
                                    <p class="lead text-center">Category List</p>
                                    <ul class="list-group mb-3">
                                        <li class="d-flex justify-content-between align-items-center list-group-item category-list-home" :class="{active: activeCategory === category.name}"  v-for="category in categories" @click="getOneCategory(category._id)">
                                            <div class="d-flex justify-content-center align-items-center">{{ category.name }}</div>
                                        </li>
                                    </ul>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-danger btn-block mb-3 text-center" @click="getItems">Show All Products</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="mb-3">Search in this category</div>

                                <!-- SEARCH ITEM -->
                                <search-item :keyword="keyword" @send-keyword="receiveKeyword($event)" :getitems="getItems" :getonecategory="getOneCategory" :activecategoryid="activeCategoryId"></search-item>   
                            </div>
                        </div>
                    </div>

                    <!-- ITEM LIST -->
                    <div class="col-lg-9 mb-3">
                        <div class="card-columns">
                            <div v-for="item in items" class="card">
                                <img class="card-img-top img-fluid" v-bind:src="item.imgURL" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text text-danger">{{ item.price }}</p>
                                        <p class="card-text text-success" v-if="item.stock !== 0">Stock: {{ item.stock }}</p>
                                        <p class="card-text text-danger font-weight-bold" v-else>Out of Stock</p>
                                    </div>
                                    <button v-on:click="addItemToCart(item._id)" :disabled="item.stock === 0" class="btn btn-outline-danger btn-block">
                                        <i class="fas fa-shopping-cart mr-2"></i>
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--SHOPPING CART-->
            <shopping-cart :cart-show="cartShow" :getusercart="getUserCart" :getcartbadge="getCartBadge" :gettotalprice="getTotalPrice" :cart="cart" :total-price="totalPrice" :getitems="getItems" :showlistitem="showListItem" :getusertransactions="getUserTransactions" :getuserprofile="getUserProfile"></shopping-cart>

            <!-- USER PROFILE -->
            <div v-if="profileShow" class="container">
                <div class="row">
                    <div class="col-lg-10 mt-4 d-flex flex-column justify-content-start mx-auto">
                        <div class="d-flex justify-content-start align-items-center" id="">
                            <div class="display-4">User Profile</div>
                            <button @click="logout" class="btn btn-outline-danger ml-auto">Log out</button>
                        </div>
                        <div class="d-flex flex-column mt-4">
                            <h3 class="lead mb-3">Username: {{ user.username }}</h3>
                            <h3 class="lead mb-3">Email: {{ user.email }}</h3>
                            <h3 class="lead mb-3">Total Transactions: {{ user.purchaseCount }}</h3>
                            <h3 class="lead mb-4">Transaction List:</h3>
                            <div v-for="trans in transactions" class="lead mb-4 card">
                                <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-3">
                                    <div class="d-flex flex-column justify-content-center ml-3">
                                        <div class="lead">Transaction ID: {{ trans._id }}</div>
                                        <div class="lead">Order time [dd/mm/yyyy]: {{ trans.createdAt }}</div>
                                    </div>
                                    <div class="d-flex border trans-detail mr-3">
                                        <button class="btn btn-trans-detail" data-toggle="modal" data-target="#transDetailModal" @click="populateTransDetailModal(trans.itemList, trans.totalPrice)">
                                            Details
                                            <i class="fas fa-box-open ml-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TRANSACTION DETAIL MODAL -->
            <div class="modal fade" id="transDetailModal">
                <div class="modal-dialog trans-modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title pl-1">Transaction Detail</h5>
                            <button class="close pr-4" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h3 class="lead mb-4 itemList-h3 pl-2">Item List</h3>
                            <div class="d-flex flex-column px-2" v-for="item in trans_detail.itemList">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="lead">Item</h3>
                                    <h3 class="lead">{{ item.item.name }}</h3>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="lead">Price</h3>
                                    <h3 class="lead">{{ item.item.price }}</h3>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="lead">Quantity</h3>
                                    <h3 class="lead">{{ item.qty }}</h3>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <h3 class="lead">Subtotal</h3>
                                    <h3 class="lead">{{ item.subTotal }}</h3>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h3 class="lead totalPrice-h3 pl-2">Total Price</h3>
                                <h3 class="lead totalPrice-h3 pr-2">{{ trans_detail.totalPrice }}</h3>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center mb-2 mt-2">
                            <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
        <script 
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>

        <!--VUE INSTANCE-->
        <script src="components/searchItems.js"></script>
        <script src="components/shoppingCart.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    cartShow: false,
                    categoryListShow: true,
                    profileShow: false,
                    items: [],
                    cartBadge: 0,
                    user: {},
                    keyword: '',
                    cart: [],
                    totalPrice: 0,
                    transactions: [],
                    categories: [],
                    activeCategory: '',
                    activeCategoryId: '',
                    trans_detail: {
                        itemList: [],
                        totalPrice: 0
                    },
                    keyword_for_all: ''
                },
                methods: {
                    showCart: function() {
                        this.cartShow = true;
                        app.getUserCart();
                        app.getTotalPrice();
                        this.categoryListShow = false;
                        this.profileShow = false;
                    },
                    showListItem: function(categoryId) {
                        this.categoryListShow = true;
                        this.cartShow = false;
                        this.profileShow = false;
                        this.activeCategoryId = categoryId;
                        this.getOneCategory(this.activeCategoryId);
                    },
                    showProfile: function() {
                        this.profileShow = true;
                        this.cartShow = false;
                        this.categoryListShow = false;
                    },
                    getItems: function() {
                        axios({
                            method: 'GET',
                            url: `${config.host}/items`
                        })
                            .then(function(items) {
                                let itemsData = items.data;
                                app.items = itemsData;
                            })
                            .catch(function(err) {
                                console.log('Get All Items Error: ', err);
                            });
                    },
                    getCategories: function() {
                        axios({
                            method: 'GET', 
                            url: `${config.host}/categories`, 
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(categories) {
                                app.categories = categories.data;
                                app.items = categories.data[0].itemList;
                                app.activeCategory = categories.data[0].name;
                                app.activeCategoryId = categories.data[0]._id;
                            })
                            .catch(function(err) {
                                console.log('Get All Categories Error: ', err);
                            });
                    },
                    getOneCategory: function(categoryId) {
                        axios({
                            method: 'GET', 
                            url: `${config.host}/categories/${categoryId}`,
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(category) {
                                app.activeCategory = category.data.name;
                                app.activeCategoryId = category.data._id;
                                app.items = category.data.itemList;
                            })
                            .catch(function(err) {
                                console.log('Get One Category Error: ', err);
                            });
                    },
                    addItemToCart: function(itemId) {
                        axios({
                            method: 'PATCH',
                            url: `${config.host}/carts/add/${itemId}`,
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(result) {
                                app.getCartBadge();
                                // app.getItems();
                                app.getOneCategory(app.activeCategoryId);
                                app.getUserCart();
                            })
                            .catch(function(err) {
                                console.log('Add Item To Cart Error: ', err);
                            });
                    },
                    getCartBadge: function() {
                        axios({
                            method: 'GET',
                            url: `${config.host}/carts`,
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(cart) {
                                let badgeCount = 0;
                                let itemList = cart.data.itemList;
                                for (let i = 0; i < itemList.length; i++) {
                                    badgeCount += itemList[i].qty;
                                }
                                app.cartBadge = badgeCount;
                            })
                            .catch(function(err) {
                                console.log('Get Cart Badge Error: ', err);
                            });
                    },
                    getUserCart: function() {
                        axios({
                            method: 'GET',
                            url: `${config.host}/carts`,
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(cart) {
                                app.cart = cart.data.itemList;
                            })
                            .catch(function(err) {
                                console.log('Get User Cart Error: ', err);
                            });
                    },
                    receiveKeyword: function(value) {
                        app.keyword = value;

                        let current =  this.items.filter(function(item) {
                            const testCase = new RegExp(value, 'i');
                            const regexTest = testCase.test(item.name);
                            return regexTest;
                        });

                        this.changeItems(current);
                    },
                    searchItem: function() {
                        axios({
                            method: 'GET',
                            url: `${config.host}/items/search/${this.keyword_for_all}`,
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(items) {
                                app.items = items.data;
                            })
                            .catch(function(err) {
                                console.log('Search Items Error: ', err);
                            });
                    },
                    getTotalPrice: function() {
                        axios({
                            method: 'GET',
                            url: `${config.host}/carts`,
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(cart) {
                                let totalPrice = 0;
                                for (let i = 0; i < cart.data.itemList.length; i++) {
                                    totalPrice += cart.data.itemList[i].subTotal;
                                }

                                app.totalPrice = totalPrice;
                            })
                            .catch(function(err) {
                                console.log('Get Total Price Error: ', err);
                            });
                    },
                    logout: function() {
                        localStorage.removeItem('token');
                        location.replace('/index.html');
                    },
                    getUserProfile: function() {
                        axios({
                            method: 'GET',
                            url: `${config.host}/users/profile`,
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(user) {
                                app.user = user.data;
                            })
                            .catch(function(err) {
                                console.log('Get User Profile Error: ', err);
                            });
                    },
                    getUserTransactions: function() {
                        axios({
                            method: 'GET',
                            url: `${config.host}/transactions`,
                            headers: {
                                'access-token': localStorage.getItem('token')
                            }
                        })
                            .then(function(transactions) {
                                for (let i = 0; i < transactions.data.length; i++) {
                                    let date = new Date(transactions.data[i].createdAt);
                                    let year = date.getFullYear();
                                    let month = date.getMonth() + 1;
                                    let day = date.getDate();

                                    let newDate = `${day}/${month}/${year}`;
                                    transactions.data[i].createdAt = newDate;
                                }
                                app.transactions = transactions.data;
                            })
                            .catch(function(err) {
                                console.log('Get User Transactions Error: ', err);
                            });
                    },
                    populateTransDetailModal: function(itemList, totalPrice) {
                        this.trans_detail.itemList = itemList;
                        this.trans_detail.totalPrice = totalPrice;
                    },
                    changeItems: function(itemList) {
                        this.items = itemList;
                    }
                }, 
                created: function() {
                    this.getCartBadge();
                    this.getUserCart();
                    this.getUserProfile();
                    this.getUserTransactions();
                    this.getCategories();
                },
                watch: {
                    keyword() {
                        if (this.keyword.length === 0) {
                            this.getOneCategory(this.activeCategoryId);
                        } else {
                            let current =  this.items.filter(function(item) {
                                const testCase = new RegExp(this.keyword, 'i');
                                const regexTest = testCase.test(item.name);
                                return regexTest;
                            });

                            this.changeItems(current);
                        }
                    },
                    keyword_for_all() {
                        if (this.keyword_for_all.length !== 0) {
                            this.searchItem();
                        } else {
                            this.getItems();
                        }
                    },
                    cartBadge() {
                        this.getCartBadge();
                    }
                }
            })
        </script>
    </body>
</html>