<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-signin-client_id" content="43340400785-g34b4gvre9nn2e24kq4ogn2074p5fda4.apps.googleusercontent.com">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

  <script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
  <title>Store-Ree</title>
  <link rel="stylesheet" href="./style.css" class="rel">

</head>

<body>
  <div id="app">
    <!-- NAVBAR -->
    <div class="ui inverted segment ">
      <div class="ui inverted segment secondary pointing top fixed menu" style="background-color:black;">
        <!-- <img style="width:35px; height: 35px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJVSNeDJr4I3YMH8a1Drb0hM0X7BeRfscauZWtjnvMShVFSeEe" alt=""> -->
        <a class=" blue item">
          <span id="logo"></span>
        </a>
        <a class=" blue item">
          Home
        </a>
        <div class="ui pointing dropdown link item">
          <span class="text" onclick="$('.ui.dropdown').dropdown()">Categories</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header">Categories</div>
            <div class="item">House</div>
            <div class="item">Car</div>
            <div class="item">Private Island</div>
            <div class="item">Private Jet</div>
            <div class="item">Yacht</div>
          </div>
        </div>
        <a class="blue item">
          Group
        </a>
        <div class="center menu">

        </div>
        <div class="right menu">
          <div class="item">
            <div class="active user" v-if='isLogin && !isAdmin'>
              Hi {{ activeUser }}, Happy Shopping..
            </div>
            <div class="active user" v-if='isAdmin'>
              Hello {{ activeUser }}, Nice to see you again..
            </div>
          </div>
          <div class="item">
            <div class="ui button" @click='goToAdminPage' v-if='isAdmin'>Admin Page</div>
          </div>
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <div class="item">
            <div class="ui animated fade button">
              <div class="visible content">
                <i class="cart icon"></i>
                <a class="ui teal circular label">{{ cart.length }}</a>
              </div>
              <div class="hidden content">
                Cart
              </div>
            </div>
          </div>
          <a class="ui item" v-if="isLogin">
            <div class="ui vertical animated button mini" @click='logout'>
              <div class="visible content">
                <i class="logout icon"></i>
              </div>
              <div class="hidden content">
                Logout
              </div>
            </div>
          </a>
          <a class="ui item" v-else>
            <div class="ui animated button mini" onclick="$('.ui.modal.login').modal('show')">
              <div class="visible content">
                <i class="sign in icon"></i>
              </div>
              <div class="hidden content">
                Login
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- / NAVBAR -->

    <!-- ADMIN PAGE -->
    <div class="ui admin page container" v-if='showAdminPage' style="margin-top:70px;">
      <h1>List of Products</h1>
      <div class="ui button green" @click='addProductForm'>Create New Product</div>
      <table class="ui celled selectable inverted table">
        <thead class="ui">
          <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='(product, index) in products'>
            <td>{{ product.category }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>
              <div class="ui button primary tiny"><i class="ui edit icon" @click='editProductForm(product)'>Edit</i></div>
              <div class="ui button red tiny"><i class="ui trash icon" @click='deleteProductForm(product._id)'>Del</i></div>
            </td>
          </tr>>
        </tbody>
      </table>
      </table>
      <!-- Create Modal -->
      <div class="ui modal create">
        <i class="close icon"></i>
        <div class="header" v-if='!editForm'>
          Creating Product Form
        </div>
        <div class="header" v-else>
          Editing Product Form
        </div>
        <div class="content">
          <form class="ui large form">
            <div class="ui stacked segment">
              <div class="field">
                <label for="">Product Image:</label>
                <div class="ui left icon input">
                  <input type="text" placeholder="Image Url" v-model='productImage'>
                </div>
              </div>
              <div class="field">
                <label for="">Product Name:</label>
                <div class="ui left icon input">
                  <input type="text" name="name" placeholder="Product Name" v-model='productName'>
                </div>
              </div>
              <div class="field">
                <label for="category">Category:</label>
                <div class="ui left icon input">
                  <select name="category" v-model='productCategory'>
                    <option value="house">House</option>
                    <option value="car">Car</option>
                    <option value="jet">Private Jet</option>
                    <option value="yacht">Yacht</option>
                    <option value="island">Private Island</option>
                  </select>
                </div>
              </div>
              <div class="field">
                <label for="description">Description:</label>
                <div class="ui left icon input">
                  <textarea name="description" id="" cols="10" rows="5" v-model='productDescription'></textarea>
                </div>
              </div>
              <div class="field">
                <label for="">Product Price:</label>
                <div class="ui left icon input">
                  <input type="number" name="price" placeholder="$ Price" min="0" v-model='productPrice'>
                </div>
              </div>
              <div class="field">
                <label for="">Product Quantity:</label>
                <div class="ui left icon input">
                  <input type="number" name="quantity" placeholder="Quantity" min="0" v-model='productQuantity'>
                </div>
              </div>
              <div class="ui green message" v-if='showMsg'>{{ msg }}</div>
              <div class="ui red message" v-if='showErr'>{{ msg }}</div>
              <div class="ui fluid large teal submit button" @click='addProduct' v-if='!editForm'>Add</div>
              <div class="ui fluid large teal submit button" @click='editProduct' v-else>Edit</div>
            </div>
            <div class="ui error message"></div>
          </form>
        </div>
      </div>

      <!-- Delete Modal -->
      <div class='ui tiny modal delete'>
        <div class="header">Delete your product</div>
        <div class="content">
          <h1>Are You Sure Want To Delete This Product ??</h1>
          <p>the product you deleted will not be able to be recovered.</p>
        </div>
        <div class="actions">
          <div class="ui approve yellow button" @click='deleteProduct(productId)'>Yes, Delete!</div>
          <div class="ui red deny cancel button">Cancel</div>
        </div>
      </div>
      <!--  -->
    </div>
    <!-- / ADMIN PAGE -->

    <!-- MAIN-AREA -->
    <div class="main" v-else>

      <!-- BANNER -->
      <div class="ui images slideshow">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/amazonglobal/images/Fuji/hero/ipruden_2018-06-19T17-31_aa9f95_1121796_us_ags_gw_hero_newcopy_PW_HERO_M_ClassicStyle_1x._CB475587998_.jpg"
          alt="">
      </div>
      <!-- / BANNER -->

      <div class="ui grid main-container" style="margin:0 1%;">
        <!-- SIDE-BAR -->
        <div class="ui three wide column segment">
          <h3 class="">Refine by</h3>
          <h4 class="">Release Date</h4>
          <ul class="" style="list-style-type:none">
            <div aria-live="polite" class="">
              <li>
                <span class="">
                  <a class="" href="">
                    <span class="">Last 30 days</span>
                  </a>
                </span>
              </li>
              <li>
                <span class="">
                  <a class="" href="">
                    <span class="">Last 90 days</span>
                  </a>
                </span>
              </li>
            </div>
          </ul>
          <h4 class="">Avg. Customer Review</h4>
          <ul><a href=""><i class="ui star yellow icon"></i><i class="ui star yellow icon"></i><i class="ui star yellow icon"></i><i
                class="ui star yellow icon"></i><i class="ui star icon"></i> 4 Stars & Up</a></ul>
          <ul><a href=""><i class="ui star yellow icon"></i><i class="ui star yellow icon"></i><i class="ui star yellow icon"></i><i
                class="ui star icon"></i><i class="ui star icon"></i> 3 Stars & Up</a></ul>
          <ul><a href=""><i class="ui star yellow icon"></i><i class="ui star yellow icon"></i><i class="ui star icon"></i><i
                class="ui star icon"></i><i class="ui star icon"></i> 2 Stars & Up</a></ul>
          <ul><a href=""><i class="ui star yellow icon"></i><i class="ui star icon"></i><i class="ui star icon"></i><i
                class="ui star icon"></i><i class="ui star icon"></i> 1 Stars & Up</a></ul>
          <h4 class="">Price<small> (in USD Million)</small></h4>
          <ul class="" style="list-style-type:none">
            <div aria-live="" class="">
              <li><span class=""><a class="" href=""><span class="">Under $10 M</span></a></span></li>
              <li><span class=""><a class="" href=""><span class="">$10 M to $50 M</span></a></span></li>
              <li><span class=""><a class="" href=""><span class="">$50 M to $100 M</span></a></span></li>
              <li><span class=""><a class="" href=""><span class="">$100 M to $500 M</span></a></span></li>
              <li><span class=""><a class="" href=""><span class="">$500 M & Above</span></a></span></li>
            </div>
          </ul>
          <div class="ui form">
            <label for="">Range:</label>
            <div class="three fields">
              <div class="field">
                <input type="text" placeholder="$Min">
              </div>
              <div class="field">
                <input type="text" placeholder="$Max">
              </div>
              <div class="ui button mini">
                Go
              </div>
            </div>
          </div>
        </div>
        <!-- / SIDE_BAR -->

        <div class="ui twelve wide column">
          <div class="ui link cards">
            <div class="card" v-for='product in products'>
              <div class="image">
                <img :src="product.image">
              </div>
              <div class="content">
                <div class="header">{{ product.name }}</div>
                <div class="meta">
                  <a>{{ product.category }}</a>
                </div>
                <div class="description">
                  {{ product.description }}
                </div>
              </div>
              <div class="extra content">
                <span class="right floated" v-if='product.quantity != 0' style="color: black">
                  Stock: {{ product.quantity }}
                </span>
                <span class="right floated" v-else style="color: red;">
                  Out of Stock
                </span>
                <span style="color: black">
                  <i class="dollar icon" style="color: green"></i>
                  {{ moneyFormat(product.price) }}
                </span>
                <div class="cart" v-if='!isAdmin' @click='addToCart(product)'>
                  <span><div class="ui mini teal button">Add to Cart</div></span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- / MAIN-AREA -->
        <!-- Login Modal -->
        <div class="ui modal login">
          <i class="close icon"></i>
          <div class="ui" style="margin: 20px 0;">
            <div class="ui middle aligned center aligned grid">
              <div class="ui ten wide column">
                <h2 class="ui teal image header">
                  <div class="content">
                    Log-in to your account
                  </div>
                </h2>
                <form class="ui form">
                  <div class="ui stacked segment">
                    <div class="field">
                      <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="E-mail address" v-model='email' autofocus>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" v-model='password'>
                      </div>
                    </div>
                    <div class="ui green message" v-if='showMsg'>{{ msg }}</div>
                    <div class="ui red message" v-if='showErr'>{{ msg }}</div>
                    <div class="ui fluid large teal submit button" @click='login'>Login</div>
                  </div>

                  <div class="ui error message"></div>

                </form>

                <div class="ui message">
                  New to us? <a href="#" onclick="$('.ui.modal.register').modal('show')">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Register Modal -->
        <div class="ui modal register">
          <i class="close icon"></i>
          <div class="header">
            Registration Form
          </div>
          <div class="content">
            <form class="ui large form">
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="Username" v-model='username'>
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="text" name="email" placeholder="E-mail address" v-model='email'>
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password" v-model='password'>
                  </div>
                </div>
                <div class="ui green message" v-if='showMsg'>{{ msg }}</div>
                <div class="ui red message" v-if='showErr'>{{ msg }}</div>
                <div class="ui fluid large teal submit button" @click='register'>Register</div>
              </div>
              <div class="ui error message"></div>
            </form>
          </div>
          <div class="ui message">
            Already registered ? please log in <a href="#" onclick="$('.ui.modal.login').modal('show')">Here</a>
          </div>
        </div>



      </div> <!-- / END OF APP VUE-->
    </div>
  </div>




  <!-- </div> -->
  <!-- SCRIPTS: -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./scriptUI.js"></script>
  <script>
    var host = 'http://localhost:3000'
    var app = new Vue({
      el: '#app',
      data: {
        isLogin: false,
        showAdminPage: false,
        username: '',
        email: '',
        password: '',
        msg: '',
        showMsg: false,
        showErr: false,
        products: [{
          image: 'https://cdn.motor1.com/images/mgl/wn8qN/s3/bugatti-divo.jpg',
          name: 'Buggati Divo',
          category: 'Car',
          description: 'xxx',
          price: '7000000',
          quantity: 3
        }],
        cart: [],
        productId: '',
        productImage: '',
        productName: '',
        productCategory: '',
        productDescription: '',
        productPrice: 0,
        productQuantity: 0,
        editForm: false,
      },
      created() {
        if (localStorage.getItem('token')) {
          this.isLogin = true
        }
        this.getAllProducts()
      },
      methods: {
        register: function () {
          let data = {
            username: this.username,
            email: this.email,
            password: this.password
          }
          axios.post(`${host}/users/register`, data)
            .then((result) => {
              app.msg = 'Register success'
              app.showMsg = true
              app.email = '', app.password = '', app.username = ''
            }).catch((err) => {
              app.msg = err.response.data.message
              app.showErr = true
            });
        },
        login: function () {
          let data = {
            email: this.email,
            password: this.password
          }
          axios.post(`${host}/users/login`, data)
            .then((result) => {
              app.msg = 'Login success'
              app.showMsg = true
              localStorage.setItem('token', result.data.token)
              localStorage.setItem('username', result.data.username)
              localStorage.setItem('userId', result.data.userId)
              if (result.data.admin) {
                localStorage.setItem('admin', result.data.admin)
              }
              app.isLogin = true
              app.email = '', app.password = ''
            }).catch((err) => {
              app.msg = err.response.data.message
              app.showErr = true
            });
        },
        logout: function () {
          localStorage.removeItem('token')
          localStorage.removeItem('username')
          localStorage.removeItem('userId')
          localStorage.removeItem('admin')
          this.isLogin = false
        },
        goToAdminPage() {
          this.showAdminPage ? this.showAdminPage = false : this.showAdminPage = true
        },
        dateFormat(date) {
          return date
        },
        moneyFormat(price) {
          return price
        },
        getAllProducts() {
          axios.get(`${host}/products`)
            .then((result) => {
              app.products = result.data
            }).catch((err) => {
              console.log(err)
            });
        },
        addProductForm() {
          this.clearState()
          $('.ui.modal.create').modal('show')
        },
        getProductData() {
          let data = {
            image: this.productImage,
            name: this.productName,
            category: this.productCategory,
            description: this.productDescription,
            price: this.productPrice,
            quantity: this.productQuantity
          }
          return data
        },
        setProductData(product) {
          this.productImage = product.image
          this.productName = product.name
          this.productCategory = product.category
          this.productDescription = product.description
          this.productPrice = product.price
          this.productQuantity = product.quantity
          this.productId = product._id
        },
        addProduct() {
          let data = this.getProductData()
          // console.log('add product:', data)
          axios.post(`${host}/products`, data, {
              headers: {
                authorization: `Bearer ${localStorage.getItem('token')}`
              }
            })
            .then((result) => {
              console.log(result)
            }).catch((err) => {
              console.log(err)
            });
        },
        editProductForm(product) {
          this.setProductData(product)
          this.editForm = true
          $('.ui.modal.create').modal('show')
        },
        editProduct() {
          let data = this.getProductData()
          axios.put(`${host}/products/${app.productId}`, data, {
              headers: {
                authorization: `Bearer ${localStorage.getItem('token')}`
              }
            })
            .then((result) => {
              console.log(result)
            }).catch((err) => {
              console.log(err)
            });
        },
        deleteProductForm(productId) {
          this.productId = productId
          $('.ui.modal.delete').modal('show')
        },
        deleteProduct(productId) {
          console.log('deletetos')
          axios.delete(`${host}/products/${productId}`, {
              headers: {
                authorization: `Bearer ${localStorage.getItem('token')}`
              }
            })
            .then((result) => {
              console.log(result)
            }).catch((err) => {
              console.log(err)
            });
        },
        clearState() {
          this.username = ''
          this.email = ''
          this.password = ''
          this.msg = ''
          this.showMsg = false
          this.showErr = false
          this.productId = ''
          this.productImage = ''
          this.productName = ''
          this.productCategory = ''
          this.productDescription = ''
          this.productPrice = 0
          this.productQuantity = 0
          this.editForm = false
        },
        addToCart(product) {
          this.setProductData(product)
          this.productQuantity = product.quantity - 1
          this.editProduct()
          this.getAllProducts
        }
      },
      computed: {
        activeUser: function () {
          return localStorage.getItem('username')
        },
        isAdmin: function () {
          return localStorage.getItem('admin')
        }

      }
    })
  </script>
</body>

</html>