#top-nav {
    background-color: #11a29a !important; 
    /* #aa423b */
    /* #f43c2c */
}

#main-nav {
    font-family: Lato;
    font-size: 15px;
}

#home-nav {
    font-family: Oswald;
    font-size: 35px;
}

#cart-all-products {
    height: 50px;
}

#div-cart-btn {
    width: 50px;
}

#category-path-link button {
    color: #0099cc;
    font-family: Oswald;
}

#registerForm {
    /* background-color: #800000; */
    color: #800000;
}

#loginForm {
    color: #003366;
}

#linkToLogin {
    color: #20b2aa;
    font-size: 15px;
}

#errorAlert {
    
}

.category-list {
    cursor: pointer;
}

.category-label-div {
    /* font-size: 12px; */
    /* border: 5px solid #daa520; */
    background-color: #11a29a;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.5px;
}

.category-label {
    font-size: 1.4vmin;
}

.card-columns {
    column-count: 3 !important;
}

.btn-card {
    width: 45px;
}

.div-btn-card {
    height: 50px;
    text-align: center;
}

.list-group-item {
    padding: 0 !important;
    border: 0px !important;
}

.list-group-item:hover {
    text-align: center;
    padding: 0 !important;
}

.span-btn {
    background: #e74c3c;
    text-align: center;
    height: 50px;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
    cursor: pointer;
}

.category-list:hover span {
    width: 40px;
    opacity: 1.0;
}

#editItemModal, #editCategoryModal, #addItemModal, #deleteCategoryConfirm {
    font-family: 'Titillium Web', sans-serif;
}