#top-nav {
    /* background-color: #11a29a !important;  */
    /* background-color: #485BA7 !important; */
    background-color: #D2506A !important;
}

#main-nav {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#home-nav {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

#cart-all-products {
    height: 50px;
}

#div-cart-btn {
    width: 50px;
}

#category-path-link {
    width: 270px;;
}

#category-path-link button {
    color: #0099cc;
    font-family: 'Oswald', sans-serif;
}

#registerForm {
    color: #800000;
}

#loginForm {
    color: #003366;
}

#linkToLogin {
    color: #20b2aa;
    font-size: 15px;
}

.category-list {
    cursor: pointer;
    padding: 0 !important;
}

.category-list:hover {
    text-align: center;
    padding: 0 !important;
}

.category-list-home {
    cursor: pointer;
}

.category-label-div {
    /* font-size: 12px; */
    /* border: 5px solid #daa520; */
    background-color: #11a29a;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.5px;
}

.category-label {
    font-size: 1.4vmin;
}

.card-columns {
    column-count: 3 !important;
}

.btn-card {
    width: 45px;
}

.div-btn-card {
    height: 50px;
    text-align: center;
}

.list-group-item {
    border: 0px !important;
}

.span-btn {
    background: #e74c3c;
    text-align: center;
    height: 50px;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
    cursor: pointer;
}

.category-list:hover span {
    width: 40px;
    opacity: 1.0;
}

#editItemModal, #editCategoryModal, #addItemModal, #deleteCategoryConfirm {
    font-family: 'Titillium Web', sans-serif;
}

.itemList-h3, .totalPrice-h3, .sold-header {
    font-family: 'Oswald', sans-serif;
    font-size: 25px !important;
}

.sold-header div {
    width: 300px;
}

.sold-body div {
    width: 300px;
}

.trans-detail {
    height: 50px;;
}

.trans-modal {
    max-width: 50% !important;
}

.btn-trans-detail {
    font-family: 'Oswald', sans-serif;
    /* background-color: #77003c; */
    background-color: #daa520;
    color: white;
}

.nav-link:hover, .dropdown-item:hover {
    cursor: pointer;
}