<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Bonanza 2.0</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="container">

                <div class="row">
                    <div class="col">
                        <ul class="nav nav-pills">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sell on Bonanza</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Start Selling</a>
                                    <a class="dropdown-item" href="#">Add or edit items</a>
                                    <a class="dropdown-item" href="#">import from amazon</a>
                                    <a class="dropdown-item" href="#">import from ebay</a>
                                    <a class="dropdown-item" href="#">import from etsy</a>
                                    <a class="dropdown-item" href="#">import from shopify</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">open webstore</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">help</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="">login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#registerModal" href="#">register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#cartModal" href="" id="cart">cart</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="container-fluid" style="background: url(https://assets.bonanzastatic.com/images/home/bg_thatch.png?1539127379) ">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- <a class="navbar-brand" href="#">BONANZA 2.0</a> -->
                        <img alt="Bonanza" id="Bonanza" data-retina="true" src="https://assets.bonanzastatic.com/images/header/bonanza_logo@2x.png"
                            style="max-width: 200px; max-height: 49px;">
                        <div class="collapse navbar-collapse justify-content-end">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" v-model="searchOnPage" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="container-fluid" style="background-color: #f9faf2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link categoryOptions" href="#" role="button">Women's Fashion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link categoryOptions" href="#" role="button">Men's Fashion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link categoryOptions" href="#" role="button">Home & Garden</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link categoryOptions" href="#" role="button">Health & Beauty</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link categoryOptions" href="#" role="button">Collectible & Arts</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md 3">
                            <ul class="nav nav-pills justify-content-end">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More Categories</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Start Selling</a>
                                        <a class="dropdown-item" href="#">Add or edit items</a>
                                        <a class="dropdown-item" href="#">import from amazon</a>
                                        <a class="dropdown-item" href="#">import from ebay</a>
                                        <a class="dropdown-item" href="#">import from etsy</a>
                                        <a class="dropdown-item" href="#">import from shopify</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">open webstore</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container mt-2 pt-5">
            <div class="row">
                <div class="col-md-3">
                    <p>home >> Mens's Fashhion</p>
                    <div class="jumbotron p-2 text-center">
                        <p>Narrow your results 1,781,605 items found</p>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <b>
                                <i>Your Selections:</b>
                            <a href="">Category "Men's Fashion"</a>
                            </i>
                        </div>
                        <div class="col-md-6 text-right">
                            <b>
                                <i>Sort by: </a>
                                </i>
                            </b>
                            <select name="" id="">
                                <option value="">Relevance</option>
                                <option value="">Highest Price</option>
                                <option value="">Lowest Price</option>
                                <option value="">Newest</option>
                                <option value="">Rating</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col pt-2 mb-2" v-for="value in products" v-if="!searchOnPage">
                            <div class="card" style="width: 15rem; min-height: 25rem;">
                                <img class="card-img-top" style="max-height: 200px" v-bind:src="value.photo" alt="Card image cap">
                                <div class="card-body ">
                                    <p class="card-text">{{filterTextLength(value.name)}}</p>
                                    <p>${{value.price}}</p>
                                    <button data-toggle="modal" data-target="#cartModal" class="btn btn-primary" v-on:click="addProductToCart(value)"> addtocart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-2 mb-2" v-for="value in searchResponsive" v-if="searchOnPage">
                            <div class="card" style="width: 15rem; min-height: 25rem;">
                                <img class="card-img-top" style="max-height: 200px" v-bind:src="value.photo" alt="Card image cap">
                                <div class="card-body ">
                                    <p class="card-text">{{filterTextLength(value.name)}}</p>
                                    <p>${{value.price}}</p>
                                    <button data-toggle="modal" data-target="#cartModal" class="btn btn-primary" v-on:click="addProductToCart(value)"> addtocart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">QTY</th>
                                    <th scope="col">Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="value in cart">
                                    <td>{{value.name}}</td>
                                    <td>{{value.qty}}</td>
                                    <td>${{value.price}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">TOTAL</td>
                                    <td>${{totalCart}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGIN MODAL -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input  v-model="login.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input v-model="login.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button v-on:click="loginUser" type="submit" class="btn btn-primary">Signin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- register modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label for="inputEmail4">Name</label>
                                <input required type="text" v-model="register.name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail4">Email</label>
                                <input required type="email" v-model="register.email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword4">Password</label>
                                <input required type="password" v-model="register.password" class="form-control" id="inputPassword4" placeholder="Password">
                            </div>  
                                <div v-if="state.registerStatus == 'success'" class="alert alert-success">
                                        <strong>Success!</strong> Please go to login section
                                </div>
                                <div v-if="state.registerStatus == 'fail'" class="alert alert-danger">
                                        <strong>Fail</strong> please check your data or use another email.
                                </div>
                            <button type="submit" v-on:click="registerUser" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //JAVA SCRIPT
      

        // VUE JS
        new Vue({
            el: '#app',
            data: {
                products: [
                    {
                        name: 'Ellen for President T Shirt',
                        price: 20.85,
                        stock: 5,
                        photo: './assets/1.png'
                    },
                    {
                        name: 'Casio Mens DW9052GBX-1A9 G-Shock Chronograph Black Resin Watch',
                        price: 170,
                        stock: 10,
                        photo: 'https://images.bonanzastatic.com/afu/images/7e79/b710/6bf1_6881012437/s-l1600.jpg'
                    },
                    {
                        name: 'Mens Vans Sk8-Hi Top Fashion Sneaker Core Classic BLK WT Canvas Suede All SZ NIB',
                        price: 16.85,
                        stock: 2,
                        photo: './assets/2.jpg'
                    },
                    {
                        name: 'NWT + GIFT RECEIPT Men’s Coach DOPP Kit Cordura',
                        price: 11.8,
                        stock: 1,
                        photo: 'https://images.bonanzastatic.com/afu/images/6407/49cd/6e69_6912017110/__57.jpg'
                    },
                    {
                        name: 'Polo Ralph Lauren Mens Classic Fit Mesh Polo, JAMAICA BLUE ',
                        price: 49.49,
                        stock: 8,
                        photo: 'https://images.bonanzastatic.com/afu/images/614d/da22/e6a3_6762661133/s-l1600.jpg'
                    },
                    {
                        name: 'Montecristi Adventure Super fine Panama Snap Medium Brim',
                        price: 250.25,
                        stock: 6,
                        photo: 'https://images.bonanzastatic.com/afu/images/1ccd/d633/9127_6904265906/lm0004_5-1.png'
                    },
                ],
                cart: [],
                register: {
                    name: '',
                    email: '',
                    password: '',
                    picture: null
                },
                login: {
                    email:'',
                    password: ''
                },
                searchOnPage: '',
                state: {
                    registerStatus: ''
                }
            },
            methods: {
                // onFileChanged(event) {
                //     const file = event.target.files[0]
                //     this.register.picture = file
                // },
                loginUser(event){
                    event.preventDefault()
                    axios.post('http://localhost:3000/users/login', this.login)
                    .then(data => {
                        console.log(data)
                            localStorage.setItem('token', data.data.token)        
                    })
                    .catch(err => {
                       if (err) {
                           console.log('please check your email/password')
                       }
                    })
                },

                registerUser(event) {
                    event.preventDefault()
                    axios.post('http://localhost:3000/users/signup', this.register)
                        .then(data => {
                            if (typeof data.data === 'string'){
                                this.state.registerStatus = 'fail'
                            }else{
                                this.state.registerStatus = 'success'
                            }
                        })
                        .catch(err => {
                            
                            console.log(err)
                        })
                },
                filterTextLength: function (input) {
                    if (input.length >= 39) {
                        let filtered = input.slice(0, 35)
                        return filtered + '. . .'
                    } else {
                        return input
                    }
                },
                addProductToCart: function (input) {
                    let inputCart = {
                        name: input.name,
                    }
                    let filtered = this.cart.filter((val, index, arr) => {
                        return val.name == inputCart.name
                    })
                    if (filtered.length == 0) {
                        inputCart.qty = 1
                        inputCart.price = input.price
                        this.cart.push(inputCart)
                    } else {
                        this.cart.forEach(element => {
                            if (element.name == input.name) {
                                element.qty += 1
                                element.price = element.qty * input.price
                            }
                        });
                    }
                }
            },
            computed: {
                searchResponsive: function () {
                    let result = []
                    let data = this.products.filter((val, index, arr) => {
                        if (val.name.toLowerCase().includes(this.searchOnPage.toLowerCase()) == true) {
                            return val
                        }
                    })
                    return data
                },
                totalCart: function () {
                    let total = 0
                    this.cart.forEach(element => {
                        total += Number(element.price)
                    })
                    return total
                }
            },
            watch: {},
            created: function () {
                console.log('vue has been created')
            },
            mounted: function () {
                console.log('vue has been mounted')
            }
        })

    </script>
</body>

</html>